<!DOCTYPE html>
<html class="settings-main_background" lang="{$config.language}"><!--<![endif]-->
<head>
    <!-- 加载样式及META信息 -->
    {include file="common/meta" /}
</head>
<body class=" body-ico-white">
	<section class="sectionArticle">
		<article class="clearFix">
			<main class="main mainDetails">
				<div class="articleback"><a href="/">返回</a></div>
				<hgroup class="detailsTitle">
					<h1>{$articles.title}</h1>
					<h2>{$articles.updatetime}</h2>
				</hgroup>
				<div class="articleContent">
                    {$articles.content}
				</div>
			</main>
		</article>
	</section>
	
	
	<!-- 自定义图文一开始 -->

    <div class="wrapper-slide-2">
        <div class="wrapper_slide_2_intro">
            <p class="settings-wrapper_slide_2_intro_color">-  蚂蚁 森林 专业 浇水  -</p>
        </div>

        <div class="list-sections">
            <ul>
                <!--视频文章-->
                {empty name="articlesWithVideo"}
                    <li class="item-list" id="item-1">
                        <a href=""  class="open-popup-link">
                            <div class="pic-item pic-item-1">
                                <img class="img-scale img-01-show" src="__CDN__/assets/img/frontend/images/img-01.png" alt="">
                            </div>

                            <div class="overplay">
                                <img src="__CDN__/assets/img/frontend/images/icon-05.png" alt="">
                                <h1 class="settings-list_color">音乐制作</h1>
                                <p>-</p>
                            </div>

                            <div class="item-plus">
                                <p class="settings-list_content_color">将你的故事心情、优美的图片、有共鸣的音乐以及心动的视频随时随地分享</p>
                            </div>
                        </a>
                    </li>
                    <li class="item-list" id="item-2">
                        <a href=""  class="open-popup-link">
                            <div class="pic-item pic-item-2">
                                <img class="img-scale img-02-show" src="__CDN__/assets/img/frontend/images/img-02.png" alt="">
                            </div>

                            <div class="overplay">
                                <img src="__CDN__/assets/img/frontend/images/icon-06.png" alt="">
                                <h1 class="settings-list_color">视频制作</h1>
                                <p>-</p>
                            </div>

                            <div class="item-plus">
                                <p class="settings-list_content_color">寻找最真实的自己，发现新奇或美好的、 珍贵的事物，制作成影片和音乐</p>
                            </div>
                        </a>
                    </li>
                {else /}
                    {foreach $articlesWithVideo as $vo}
                        <li class="item-list" id="item-{$vo.id}">
                            <div class="open-popup-link">
                                <video class="video-item" poster="{$vo.image ?? ''}" controls>
                                    <source src="{$vo.vediofile}" type="video/mp4">
                                </video>
								
								<!--video class="video-item" poster="{$vo.image ?? ''}" controls>
                                    <source src="{$vo.vediofile}" type="video/mp4">
                                </video-->
								
								<div class="item-plus" onclick="articleDetail({$vo.id})">
									<p class="settings-list_content_color">{$vo.content}</p>
								</div>
								
                                <!--div class="video-article" onclick="articleDetail({$vo.id})">
                                    <p class="settings-list_content_color">{$vo.content}</p>
                                </div-->
                            </div>
                        </li>
                    {/foreach}
                {/empty}
            </ul>
          </div>
    </div>

    <!-- 自定义图文一结束 -->
    <div class="articlelist clearFix">

        {notempty name="articles"}

            <ul class="clearFix">
                {volist name="articles" id="items"}
                    <li>
                        <a href="/index/index/article?id={$items.id}">
                            <div class="articlelistTitle">
                                <h4>{$items.title}</h4>
                                <time>{$items.updatetime|date="y-m-d",###}</time>
                            </div>
                        </a>
                    </li>
                {/volist}
            </ul>

        {/notempty}
    </div>
	
	<!-- 自定义图文二开始 -->
    <div class="wrapper-message-show settings-message_bgcolor settings-message_fontcolor">
        <div class="shop-message">
            <h1>关于{$site.name}</h1>
            <span>——</span>
            <p>{$site.aboutUs}</p>
        </div>
        <div class="address-message">
            <h1>联系我们</h1>
            <span>——</span>
            <!--p>{$site.address}</p-->
            <!--p>Email:{$site.email} / Tel:{$site.telephone} </p-->
			<p>微信：{$site.telephone} </p-->
			<p><img src="{$site.wechatQrcode}" width="200" height="200"></p>
        </div>
    </div>
    <!-- 自定义图文二结束 -->

	 <!--脚部-->
    {include file="common/footer" /}
    <!--客服-->
    {include file="common/service" /}

</body>
</html>
