<!DOCTYPE html>
<html lang="{$config.language}"><!--<![endif]-->
<head>
    <head>
        <!-- 加载样式及META信息 -->
        {include file="common/meta" /}
    </head>
</head>
<body class=" body-ico-white">
<div class="settings-body_background">
<!-- 主页 -->
    <div class="main">
        <!-- 首页slide开始 -->
        <div class="wrapper-video-wrap">
            <div class="slide-cnt" id="slides">

                <!--轮播图片-->
                {empty name="banners"}
                    <a class="slide-link" href="" >
                        <img width="100%" src="__CDN__/assets/img/frontend/images/index_slide_1.png" alt="slide1"/>
                        <div class="slide-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </a>

                    <a class="slide-link" href="" >
                        <img width="100%" src="__CDN__/assets/img/frontend/images/index_slide_2.png" alt="slide2"/>
                        <div class="slide-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </a>

                    <a class="slide-link" href="" >
                        <img width="100%" src="__CDN__/assets/img/frontend/images/index_slide_3.png" alt="slide3"/>
                        <div class="slide-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </a>

                    <a class="slide-link" href="" >
                        <img width="100%" src="__CDN__/assets/img/frontend/images/index_slide_4.png" alt="slide4"/>
                        <div class="slide-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </a>
                {else /}
                    {volist name="banners" id="vo"}
                        <a class="slide-link" href="" >
                            <img width="100%" src="{$vo.banner_image}" alt="slide{$vo.weigh}"/>
                            <div class="slide-text">
                                <h1></h1>
                                <p></p>
                            </div>
                        </a>
                    {/volist}
                {/empty}


                <a href="javascript:void(0);" id="slides_prev" class="slidesjs-previous slidesjs-navigation">
                  <span class="main-ico main-ico-sildeLeft"></span>
                </a>
                <a href="javascript:void(0);" id="slides_next" class="slidesjs-next slidesjs-navigation">
                  <span class="main-ico main-ico-sildeRight"></span>
                </a>
            </div>
            <div class="slide-inner-cover-wrapper slide-inner-cover">
            </div>
            <div class="slide-inner">
                <div class="slide-message">

                    <img class="slide-logo" src="__CDN__/assets/img/frontend/images/logo.png" alt="logo">

                    <div class="slide-content settings-slide_content_color">
                        <p>Our story is about to start</p>
                        <p>   我 们 的 故 事 即 将 开 始 。</p>
                    </div>

                </div>
            </div>
        </div>

    <!-- 首页slide结束 -->
    <!-- 自定义图文一开始 -->

    <div class="wrapper-slide-2">
        <div class="wrapper_slide_2_intro">
            <p class="settings-wrapper_slide_2_intro_color">-  我 们 可 以 做  -</p>
        </div>

        <div class="list-sections">
            <ul>
                <!--视频文章-->
                {empty name="articlesWithVideo"}
                    <li class="item-list" id="item-1">
                        <a href=""  class="open-popup-link">
                            <div class="pic-item pic-item-1">
                                <img class="img-scale img-01-show" src="__CDN__/assets/img/frontend/images/img-01.png" alt="">
                            </div>

                            <div class="overplay">
                                <img src="__CDN__/assets/img/frontend/images/icon-05.png" alt="">
                                <h1 class="settings-list_color">音乐制作</h1>
                                <p>-</p>
                            </div>

                            <div class="item-plus">
                                <p class="settings-list_content_color">将你的故事心情、优美的图片、有共鸣的音乐以及心动的视频随时随地分享</p>
                            </div>
                        </a>
                    </li>
                    <li class="item-list" id="item-2">
                        <a href=""  class="open-popup-link">
                            <div class="pic-item pic-item-2">
                                <img class="img-scale img-02-show" src="__CDN__/assets/img/frontend/images/img-02.png" alt="">
                            </div>

                            <div class="overplay">
                                <img src="__CDN__/assets/img/frontend/images/icon-06.png" alt="">
                                <h1 class="settings-list_color">视频制作</h1>
                                <p>-</p>
                            </div>

                            <div class="item-plus">
                                <p class="settings-list_content_color">寻找最真实的自己，发现新奇或美好的、 珍贵的事物，制作成影片和音乐</p>
                            </div>
                        </a>
                    </li>
                {else /}
                    {foreach $articlesWithVideo as $vo}
                        <li class="item-list" id="item-{$vo.id}">
                            <div class="open-popup-link">
                                <video class="video-item" poster="{$vo.image ?? ''}" controls>
                                    <source src="{$vo.vediofile}" type="video/mp4">
                                </video>

                                <div class="video-article" onclick="articleDetail({$vo.id})">
                                    <p class="settings-list_content_color">{$vo.content}</p>
                                </div>
                            </div>
                        </li>
                    {/foreach}
                {/empty}
            </ul>
          </div>
    </div>

    <!-- 自定义图文一结束 -->
    <div class="articlelist clearFix">

        {notempty name="articles"}

            <ul class="clearFix">
                {volist name="articles" id="items"}
                    <li>
                        <a href="/index/index/article?id={$items.id}">
                            <div class="articlelistTitle">
                                <h4>{$items.title}</h4>
                                <time>{$items.updatetime|date="y-m-d",###}</time>
                            </div>
                        </a>
                    </li>
                {/volist}
            </ul>

        {/notempty}
    </div>
		
    <!-- 自定义图文二开始 -->
    <div class="wrapper-message-show settings-message_bgcolor settings-message_fontcolor">
        <div class="shop-message">
            <h1>关于{$site.name}</h1>
            <span>——</span>
            <p>{$site.aboutUs}</p>
        </div>
        <div class="address-message">
            <h1>联系我们</h1>
            <span>——</span>
            <p>{$site.address}</p>
            <p>Email:{$site.email} / Tel:{$site.telephone} </p>
        </div>
    </div>
    <!-- 自定义图文二结束 -->

    <script src='__CDN__/assets/css/frontend/style/jquery.slides.min.js' type='text/javascript'></script>
    <script>
        $(function(){
            $('#slides_prev').hide();
            $('#slides_next').hide();

            $("#slides").slidesjs({
                play: {
                    active: true,
                    // [boolean] Generate the play and stop buttons.
                    // You cannot use your own buttons. Sorry.
                    effect: "slide",
                    // [string] Can be either "slide" or "fade".
                    interval: 5000,
                    // [number] Time spent on each slide in milliseconds.
                    auto: true,
                    // [boolean] Start playing the slideshow on load.
                    swap: false,
                    // [boolean] show/hide stop and play buttons
                    pauseOnHover: true,
                    // [boolean] pause a playing slideshow on hover
                    restartDelay: 2500
                    // [number] restart delay on inactive slideshow
                },
                navigation: {
                  active: false,
                  effect: "slide"
                },
                pagination:{
                  active: true
                }
            });
        });

        function articleDetail(articleId) {
            window.location.href = '/index/index/article?id=' + articleId;
        }
    </script>
    </div>

    <!--脚部-->
    {include file="common/footer" /}
</div>
	
    <!--客服-->
    {include file="common/service" /}
</body>
</html>
