<!--客服悬浮按钮-->
<ul class="right_nav">
    <li class="wechatQrcode">
        <div class="iconBox">
            <img src='__CDN__/assets/img/frontend/images/rnphone.png'>
            <h4>手机站点</h4>
        </div>
        <div class="hideBox">
            <div class="hb">
                <h5 style="text-align: center">
                    <span>手机扫一扫打开</span><br>
                    <span id="copyTel">{$site.telephone}</span>
                </h5>
                {if isset($site.wechatQrcode) && !empty($site.wechatQrcode)}
                    <img src="{$site.wechatQrcode}">
                {else}
                    <img src="__CDN__/assets/img/frontend/images/qrcode.jpg}">
                {/if}
            </div>
        </div>
    </li>
</ul>
<script type="text/javascript" src='__CDN__/assets/css/frontend/style/service.js'></script>